{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
  <h1>My Shop!!</h1>
  <p>Welcome to the the my website</p>
  </div>
  <div class="container">
    {% for product in products %}
       {% if product.quantity > 0 %}
       <div class="card" >
        <div class="card-body">
          <table>
            <tr>
              <td>
                <h2>{{ product.product_name }}</h2>
                <p>{{ product.product_desc }}</p>
                <p>Price : {{ product.price }}</p>
                <p>Only {{product.quantity}} left! Hurry</p>
              </td>
              <td>
                <img align='center' src="{{ url_for('static', filename='product_pics/' + product.product_image) }}">
              </td>

              {% if current_user.user_type=='value' %}
              <td>
                <form method="post" action="{{ url_for('add_to_cart', product_id=product.id ) }}">
                  {{ form.hidden_tag() }}
                  {{ form.quantity.label }}{{ form.quantity() }}
                  {{ form.submit() }}
                </form>
              </td>  
              {% endif %}
            </tr>
          </table>
        </div>
      </div>
       {% endif %}
    {% endfor %}
  </div>
{% endblock %}