{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h1>Welcome to the shop of {{user.username}} !!</h1>
</div>

{% for product in shop %}
  {% if product.quantity > 0 %}
    <div class="card">
        <div class="card-body">
            <table>
                <tr>
                    <td>
                        <h2>{{product.product_name}}</h2>
                        <p>{{product.product_desc}}</p>
                        <p>Quantity: {{product.quantity}}</p>
                        <p>Price: {{product.price}}</p>
                    </td>
                    <td>
                        <img align='center' src="{{ url_for('static', filename='product_pics/' + product.product_image) }}">
                    </td>
                </tr>
                <tr>
                    <td><a href="{{ url_for('UpdateProduct', product_id=product.id) }}">Update Product</a></td>
                    <td><a href="{{ url_for('DeleteProduct', product_id=product.id) }}">Delete Product</a></td>
                </tr>
            </table>
        </div>
    </div>
{% endif %}
{% endfor %}

{% endblock %}